h1{
    background-color: gray;
    border-color:black;
    border-radius: 4px;
    color: white;
    border-style:solid;
}
.slot{
    border-style: double;
    border-color:black;
    color: black;
    background-color: aquamarine;
    font-size: 40px;
}
#points{
    font-size: 20px;
}

.upgrades{
    width: 120px;
}

#gen_b{
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border-color:black;
    background-color: rgb(30, 30, 30);
    color: rgb(0, 153, 0);
}

#gen_b:disabled{
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border-color:black;
    background-color: gray;
    color: black;
}

button:hover{
    cursor:pointer;
}

#f_points{
    color:white;
}
#upgrades{
    display:grid;
}

body{
    background-color: black;
    color:white;
}

#hard_reset{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:red;
}
